<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css">
</head>
<style>
  body{ width: 500px; height: 400px; margin: 0 auto;}
  .list-wrap{ height: 100px; overflow-y: auto; width: 200px; border: 1px solid #eee;}
  ul{margin: 0; padding: 0;}
  li{height: 30px; font-size: 16px; text-align: center;}
  button{margin-top: 10px;}
</style>
<body ng-app="myApp" ng-controller="myCtrl">
  <h3>{{title}}</h3>
  <dir list="list"></dir>
<script src="./lib/angular/angular.js"></script>
<script>
  var app = angular.module('myApp', []);
  app.controller('myCtrl', function($scope){
    $scope.title = 'hello angular!';
    $scope.list = ['list1', 'list2', 'list3', 'list4'];

    $scope.$on('ngRepeatFinished', function (ngRepeatFinishedEvent) {
      // $scope.$broadcast('render');
    });

  })

  app.directive('dir', function($timeout) {
    return {
      restrict: 'E',
      scope: {
        itemList: '=list'
      },
      template: '<div class="list-wrap" auto-scroll>'+
      '<ul class="list-unstyled">'+
      '<li ng-repeat="el in itemList track by $index">{{el}}</li>'+
      '<ul>'+
      '</div>'+
      '<button ng-click="pushfn($event)" type="button" class="btn btn-info">push</button>',
      controller: function($scope, $element) {
        $scope.pushfn = function(e) {
          var len = $scope.itemList.length + 1;
          $scope.itemList.push('list'+len);
        }
      }
    }
  })

  app.directive('autoScroll', ['$timeout', function ($timeout) {
    return {
        restrict: 'A',
        scope: {},
        link: function(scope, $element, attr) {
          element = $element[0]
          $timeout(function() {
            scope.$watch(function (scope) {
              console.log('change')
              element.scrollTop = element.scrollHeight - element.offsetHeight;
            })
          })
        }
    };
}]);

</script>
</body>
</html>
